
.weekOne{
    display: flex;

}
.weekTwo{
    display: flex;
    
}
.weekThree{
    display: flex;
    
}
.weekFour{
    display: flex;
    
}

.Appointments-header {
    display: flex;
    font-size: large;
    flex-direction: row;
}
.Appointments-button {
    display: flex;
    flex-direction: row;
}

.Note-header {
    display: flex;
    font-size: large;
    flex-direction: row;
}

.Note-button {
    display: flex;
    flex-direction: row;
}

