

.calendarComp-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.calendarComp-button {
    display: flex;
    padding: 20px;
    
}

.calendarComp-header-popup {
    display: flex;
    flex-direction: column;
    background-color: rgb(215, 240, 202);
    padding: 10px 5px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    color: black;
}

.calendarComp-textbox {
    font-size: medium;
}

.Note-header {
    display: flex;
    font-size: large;
    flex-direction: row;
    justify-content: space-between;
}

.react-calendar {
    max-width: 100%;
    background: #FFFDF5;
    border: .15px solid rgb(160, 160,150);
    font-family: Arial, Helvetica, sans-serif;

}

.react-calendar__tile {
    font-size: .75em;
}

.react-calendar__month-view__weekdays {
    font-size: .75em;
}

.react-calendar__navigation {
    height: 44px;
    margin-bottom: 0em;
}

.note-popup {
    font-size: 18px;
}
.appt-popup {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.time {
    display:flex;
    
}
.appt-times {
    display: fles;
    flex-direction: column;
}