.contactName-header {
    display: flex;
    flex: 1;
    align-content: left;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(172, 172, 172);
}

.contactName-text {
    padding: 5px 10px;
    font-size: calc(5px + 1vmin);
    color: black;
    padding-left: 5px;
}

.contactName-buttons {
    display: flex;
    flex: 1;
    align-content: right;
    flex-direction: row-reverse;
}