.contactFeatures-header {
    min-height: 10vh;
    background-color: rgb(215, 240, 202);
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.addContact {
  background-color: none;
}