.MainScreen-header {
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    background-color: #86CC61;
    color: white;
    background-image: url('../musicBackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.MainScreen-VideoSize {
  width: 90%;
}

.MainScreen-TabsSize {
  padding-top: 50px;
  height: 50%;
  width: 90%;

}