.dropdown-menu {
    height: 90px;
    overflow-y: scroll;
}

.Tools-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: calc(3px + 2vmin);
}

.Tools-metronome {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Tools-metselect {
    align-items: center;
}

.Tools-inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Tools-sharing {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(3px + 2vmin);
    justify-content: space-around;
}

.Tools-button {
    width: 100%
}