.audio-header {
    display: flex;
    flex-direction: row;

}
.settings-header {
    display: flex;
    flex-direction: column;
    padding-right: 500px;
}

.talkButton {
    align-self: start;
    justify-content: space-between;

}

.performButton {
    align-self: start;
    justify-content: space-between;
}

.volume-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-volume {
    display:flex;
    flex-direction: column;
    padding: 30px;
}
.output-volume {
    display: flex;
    flex-direction: column;
    padding: 30px;

}
.dropDown-header {
    align-self: flex-end;
}