.audio-header {
    display: flex;
    flex-direction: row;

}
.settings-header {
    display: flex;
    flex-direction: column;
    padding-right: 250px;
    padding-left: 250px;
    padding-top: 20px;
}

.volume-header {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.audio-slider {
    display:flex;
    flex-direction: column;
    padding: 30px;
}

.audio-button {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}