.App {
  text-align: left;
}


.App-header {
  min-height: 100vh;
  border-radius: 25px;
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #86CC61;
}

.App-SideMenu {
  width: 250px;
  background-color: rgb(215, 240, 202);
}

.App-MainScreen {
  width: 100%;
}
